<div id="confirm" class="js-checkoutStepCont">
    <div class="checkout-heading">
        <div class="marker-chekout">Шаг 4: Подтверждение</div>
        <a class="#">Изменить »</a>
    </div>
    <div class="checkout-content">
        <div class="checkout-product">
            <table>
                <thead>
                    <tr>
                        <td class="name">Название</td>
						<td class="ta-center">Размер</td>
                        <td class="model">Артикул</td>
                        <td class="quantity">Количество</td>
                        <td class="price">Цена за шт.</td>
                        <td class="total">Цена</td>
                    </tr>
                </thead>
                <tbody>
                <% @cart['items'].each do |id, product_item| %>
					<% @cart['items'][id]['ins'].each do |i, cart_item| %>
                    <tr>
                        <td class="name">
                            <%= link_to( product_item['attrs']['name'], product_path(product_item['attrs']['uri']) ) %>
                        </td>
						<td class="ta-center"><%= cart_item['size'] %></td>
                        <td class="model"><%= cart_item['id'] %></td>
                        <td class="quantity"><%= cart_item['count'] %></td>
                        <td class="price">
							<% if product_item['attrs']['promo'] %>
								<%= price(product_item) %>р
								<strike><%= product_item['attrs']['price'] %>р</strike>
							<% else %>
								<%= product_item['attrs']['price'] %>р
							<% end %>
						</td>
                        <td class="total"><%= price(product_item)*cart_item['count'] %>р</td>
                    </tr>
					<% end %>
                <% end %>
                </tbody>
                
                <% if @order.delivery %>
                <tfoot>
                    <tr>
                        <td class="price" colspan="4"><b>Под-итог:</b></td>
                        <td class="total"><%= @cart['summ'] %>р</td>
                    </tr>
                    <tr>
                        <td class="price" colspan="4"><b>Доставка:</b></td>
                        <td class="total"><%= @order.delivery.price %>р</td>
                    </tr>
                    <tr>
                        <td class="price" colspan="4"><b>Итого:</b></td>
                        <td class="total"><%= @cart['summ'] + @order.delivery.price %>р</td>
                    </tr>
                </tfoot>
                <% end %>
            </table>
        </div>
        <div class="payment">
            <%= simple_form_for(@order, :as => "order", :url => "/order/confirm", :html => { :method => :post }) do |f| %>
            
            <%= f.hidden_field :order_state_id, :value => OrderState.where(:status => "recived").first.id %>
            <div class="buttons">
                <div class="right">
                    <%= f.button :submit, "Подтвердить заказ", :class => "b-btn js-orderConfirm" %>
                </div>
            </div>
            <% end %>
        </div>
    </div>
</div>