<%= render "shared/breadcrumbs" %>

<h1>Оформление заказа</h1>

<div class="checkout">
	
	<%= render "step1" %>
	
	<%= render "step2" %>
	
	<%= render "step3" %>
	
	<%= render "step4" %>

	
</div>

<script type="text/javascript"><!--
    
var checkoutStep = <%= @cart['checkout_step'] %>;


$(document).ready(function() {
    
    
    checkoutTabs = $('.js-checkoutStepCont');
    
    $('#button-account').click(function()
    {
        if ( $('#checkout .checkout-content input#register')[0].checked ) {

        } else {
            checkoutTabs.filter('.active').removeClass('active').find('.checkout-content').slideUp('slow');
            checkoutTabs.eq(1).addClass('active').find('.checkout-content').slideDown('slow');
            $(checkoutTabs[0]).addClass('complete');
            
            return false;
        }
    });

    $('.checkout-heading a').live('click', function() {
        $('.checkout-content').slideUp('slow');
        
        checkoutTabs.removeClass('active');
        $(this).parent().parent().addClass('active').find('.checkout-content').slideDown('slow');
    });
    
    checkoutTabs.removeClass('active').eq(checkoutStep-1).addClass('active').find('.checkout-content').slideDown('slow');
    for (i=0; i<checkoutStep; i++)
    {
        $(checkoutTabs[i]).addClass('complete');
    }
});		


//--></script>