<div class="breadcrumb"> 
	<a href="#">Home</a> &raquo; <a href="#">Shopping Cart</a> &raquo; <a href="#">Checkout</a> 
</div>
<h1>Оформление заказа, шаг: <%= @cart['checkout_step'] %></h1>

<div class="checkout">
	
	<%= render "step1" %>
	
	<%= render "step2" %>
	
	<%= render "step3" %>
	
	<%= render "step4" %>

	
</div>

<script type="text/javascript"><!--
$('#checkout .checkout-content input[name=\'account\']').live('change', function() {
    if ($(this).attr('value') == 'register') {
        $('#payment-address .checkout-heading span').html('Шаг 2: Account &amp; Billing Details');
    } else {
        $('#payment-address .checkout-heading span').html('Шаг 2: Billing Details');
    }
});

$('.checkout-heading a').live('click', function() {
    $('.checkout-content').slideUp('slow');

    $(this).parent().parent().find('.checkout-content').slideDown('slow');
});

var checkoutStep = <%= @cart['checkout_step'] %>;

$(document).ready(function() {
    console.log($('.js-checkoutStepCont').eq(checkoutStep-1));
    
    $('.js-checkoutStepCont').eq(checkoutStep-1).find('.checkout-content').slideDown('slow');
});		


//--></script>