<%= render "shared/breadcrumbs" %>

<h1>Корзина</h1>

<script type="text/javascript">
$(document).ready(function() {
	yaCounter19019545.reachGoal('cartOpen');
});
</script>

<% if @cart['count'] > 0 %>



<div class="cart-info">
    <div class="shop-cart">
        <table>
            <thead>
                <tr>
                    <td class="image">Фото</td>
                    <td class="name">Название</td>
                    <td class="size">Размер</td>
                    <td class="quantity">Количество</td>
                    <td class="unit_price">Стоимость</td>
                    <td style="border-right:none;" class="total">Итого</td>
                </tr>
            </thead>
            <tbody>


            <% @cart['items'].each do |id, product_item| %>
				<% @cart['items'][id]['ins'].each do |i, cart_item| %>
				
                <tr>
                    <td class="image">
                        <%= link_to(product_path(product_item['attrs']['uri'])) do %>
                        <%= image_tag( cart_item['img'], {:width => 70} ) %>
                        <% end %>
                    </td>
                    <td class="name">
                        <%= link_to( product_item['attrs']['name'], product_path(product_item['attrs']['uri']) ) %>
						
						<% if product_item['attrs']['promo'] %>
							<sup class="red">Акция</sup>
						<% end %>
                    </td>
                    <td class="size"><%= cart_item['size'] %></td>
                    <td class="quantity">
                        <%= form_tag(:controller => "cart", :action => "update", :method => "post") do %>
                            <%= text_field_tag(:count, cart_item['count'], :size => 1, :class => "count") %>
                            <%= text_field_tag(:id, i, :type => "hidden") %>
							<%= text_field_tag(:product_id, id, :type => "hidden") %>
                            <div class="wrapper mt5">
                                <%= image_submit_tag("/assets/update.png", :class => 'b-cart-update-item') %>
                                <%= image_tag( "/assets/remove.png", {:class => "b-cart-remove-item"} ) %>
                            </div>
                        <% end %>
                        <div>
                            
                           <%= button_to "", { :action => "remove_item", :instance => cart_item['id'] }, {:confirm => "Вы уверены?", :method => :post, :class => "js-cartRemoveItemHidden hidden" } %>
                        </div>
                    </td>
                    <td class="price">
						<% if product_item['attrs']['promo'] || product_item['attrs']['discount'] > 0 %>
							<%= price(product_item) %>р
							<strike><%= product_item['attrs']['price'] %>р</strike>
						<% else %>
							<%= price(product_item) %>р
						<% end %>
						
					</td>
                    <td style="border-right:0;" class="total"><%= price(product_item)*cart_item['count'] %>р</td>
                </tr>
				<% end %>
             <% end %>

            </tbody>
        </table>
    </div>
</div>

<div class="cart-bottom">
	<div class="cart-total">
		<table id="total">
			<tbody>
				<tr class="row-table-4">
					<td class="right cart-total-name"><b>Итого:</b></td>
					<td class="right cart-total1 last"><%= @cart['summ'] %>р</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="buttons">
		<div class="right">
		    <%= link_to 'Заказать', cart_checkout_path, :class => 'button' %>
		</div>
		<div class="center"><a class="button" href="/"><span>Продолжить покупки</span></a></div>
	</div>
</div>

<% else %>

<div class="box-container">
    <div class="content">Ваша корзина пуста</div>
    <div class="buttons">
        <div class="right"><a class="button" href="/"><span>Продолжить покупки</span></a></div>
    </div>
</div>
       
<% end %>