<% @profile = true %>

<h1>Профиль</h1>
<div class="box-container">

    <h2>Смена пароля</h2>
    <div class="content">

        <%= simple_form_for(@user, :url => { :action => "update" } ) do |f| %>
        
        <table class="form b-register-form">
            <tbody>
                <tr>
                    <td>Текущий пароль:</td>

                    <td>
                        <div class="b-input">
                            <%= f.input :current_password, :label => false %>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Пароль:</td>

                    <td>
                        <div class="b-input">
                            <%= f.input :password, :label => false %>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Подтверждение пароль:</td>

                    <td>
                        <div class="b-input">
                            <%= f.input :password_confirmation, :label => false %>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <div class="buttons">
                            <%= f.button :submit, "Изменить", :class => "b-btn" %>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        
        <% end %>

    </div>
	
</div>