<h1>Регистрация</h1>
<div class="box-container">
    <p>Если вы уже зарегистрированы, <%= link_to "войдите", new_user_session_path %> под своей учетной записью.</p>

    <h2>Ваши персональные данные</h2>
    <div class="content">
        <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
        
        <%= hidden_field_tag(:redirect, params[:redirect]) %>
        <table class="form b-register-form">
            <tbody>
                <tr>
                    <td><span class="i-required">*</span> Имя:</td>

                    <td>
                        <div class="b-input">
                            <%= f.input :first_name, :label => false %>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><span class="i-required">*</span> Фамилия:</td>

                    <td>
                        <div class="b-input">
                            <%= f.input :last_name, :label => false %>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><span class="i-required">*</span> E-Mail:</td>

                    <td>
                        <div class="b-input">
                            <%= f.input :email, :label => false %>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><span class="i-required">*</span> Телефон:</td>

                    <td>
                        <div class="b-input">
                            <%= f.input :phone, :label => false %>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><span class="i-required">*</span> Пароль:</td>

                    <td>
                        <div class="b-input">
                            <%= f.input :password, :label => false %>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><span class="i-required">*</span> Подтверждение пароль:</td>

                    <td>
                        <div class="b-input">
                            <%= f.input :password_confirmation, :label => false %>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <%= f.input :terms_of_service, :class => "checkbox", :label => "Я прочитал и согласен с" %>
                        <%= link_to "правилами пользования", "/terms", :target => :_blank %>
                       
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <div class="buttons">
                            <%= f.button :submit, "Зарегистрироваться", :class => "b-btn" %>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <% end %>


    </div>
	
</div>
