<div style="font-family:Arial;font-size:14px;color:#000;">
    <div style="font-family:Arial;font-size:18px;color:#000;">
		<%= @user.first_name %>, добро пожаловать в магазин модной одежды YoungLovers!</h2>
	</div>
    <p>
        Вы зарегистрировались на сайте нашего магазина <b><a href="<%= @root_url %>" style="color:#2E83C3;" target="_blank">YoungLovers.ru</a></b>.
    </p>
    <p>
        <b>Логин:</b> <%= @user.email %><br/>
        <b>Пароль:</b> <%= @user.password %>
    </p>
    <p>
        Чтобы войти на сайт и познакомиться с нашим ассортиментом одежды прямо сейчас перейдите по ссылке: <a href="<%= @root_url %>" style="color:#2E83C3;" target="_blank">YoungLovers.ru</a>.
    </p>
    <p>Благодарим Вас за то что вы стали клиентом нашего магазина, желаем Вам удачных покупок!</p>
</div>