<div class="center-col">
    
    <!--div class="slideshow">
        <div id="slideshow0" class="nivoSlider" style="width: 260px; height: 372px;"> 
            <a  href="index.php?route=product/category&amp;path=59">
                <img src="http://livedemo00.template-help.com/opencart_38941/image/cache/data/slide-4-260x372.jpg" alt="" />
            </a>
            <a href="index.php?route=product/category&amp;path=99">
                <img src="http://livedemo00.template-help.com/opencart_38941/image/cache/data/slide-3-260x372.jpg" alt="" />
            </a>
            <a href="index.php?route=product/category&amp;path=81">
                <img src="http://livedemo00.template-help.com/opencart_38941/image/cache/data/slide-2-260x372.jpg" alt="" />
            </a>
            <a href="index.php?route=product/category&amp;path=69">
                <img src="http://livedemo00.template-help.com/opencart_38941/image/cache/data/slide-5-260x372.jpg" alt="" />
            </a>
            <a href="index.php?route=product/category&amp;path=68">
                <img src="http://livedemo00.template-help.com/opencart_38941/image/cache/data/slide-1-260x372.jpg" alt="" />
            </a>
        </div>
    </div>
    <script type="text/javascript">
    $(document).ready(function() {
        $('#slideshow0').nivoSlider({
            effect: 'random',
            animSpeed: 500 ,
            pauseTime:5000,
            slices:20,
            captionOpacity:1,
            controlNavThumbs:false,
            controlNavThumbsFromRel:false,
            controlNavThumbsSearch: '.jpg',
            controlNavThumbsReplace: '_thumb.jpg',
            prevText: 'Prev',
            nextText: 'Next'
        });
    });

    </script> 
    <script type="text/javascript">
    $(document).ready(function(){
        $(function(){
            $('.nivo-controlNav a').eq(0).addClass('slide1');
            $('.nivo-controlNav a').eq(1).addClass('slide2');
            $('.nivo-controlNav a').eq(2).addClass('slide3');
            $('.nivo-controlNav a').eq(3).addClass('slide4');
            $('.nivo-controlNav a').eq(4).addClass('slide5');
            $('.nivo-controlNav a').eq(5).addClass('slide6');
        });

    });
    </script-->

    
    <div class="wrapper">
        <div class="box new-products">
            <div class="box-content">
                <div class="box-shining">
                    <div class="box-heading">Новинки3344</div>
                    
                    <script type="text/javascript">
                        $(function(){
                            var Products = new ProductsCollection;
                            Products.reset(<%= @products.to_json(:methods => [:preview_medium, :fast_to_cart]).html_safe %>);
                        });
                        
                    </script>
                   
                    <div class="box-product">
                        <ul>
                            <% if @products.length == 0 %>
                                Товары в каталоге отсутствуют.
                            <% end %>
                            <% @products.each do |product| %>
                            <li>
                                <div class="padd-both">
                                    <div class="image2">
                                        <a href="#"><%= image_tag( product.pictures.first.image.url(:medium) ) %></a>
                                    </div>
                                    <div class="price"> <%= product.price %>р </div>
                                    <div class="name maxheight">
                                        <%= link_to product.name, product %>
                                    </div>
                                    <div class="cart"> 
                                        <a href="#" class="button addToCart js-addToCart" rel="<%= product.id %>"><span>В корзину</span></a>
                                        <%= link_to(product, :class => "button details") do %>
                                            <span>Детально</span>
                                        <% end %>
                                    </div>
                                </div>
                            </li>
                            <% end %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>