<div class="center-col">
    
    <% if !@promos.empty? %>
	<div class="slideshow">
		<div id="slideshow0" class="nivoSlider" style="width: 350px; height: 300px;">
			
			<% @promos.each do |promo | %>
			<a  href="#">
				<img title="&lt;div class=&quot;bann-price&quot;&gt; 	<% if promo.price != 0 %>&lt;span class=&quot;second&quot;&gt;<%= promo.sum %>&lt;/span&gt; &lt;span class=&quot;first&quot;&gt;р&lt;/span&gt;<% end %> &lt;span class=&quot;third&quot;&gt;&lt;/span&gt;&lt;span class=&quot;four&quot;&gt;<% if promo.discount.to_i != 0 %>скидка <%= promo.discount %>%<% else %>ПОДАРОК!<% end %>&lt;/span&gt;     &lt;div class=&quot;name&quot;&gt; <%= promo.name %> &lt;/div&gt;     &lt;span&gt; <%= promo.text %> &lt;/span&gt;     &lt;div class=&quot;but-container&quot;&gt;     	     &lt;/div&gt; &lt;/div&gt;" src="<%= promo.promo_image.image.url(:slideshow) %>" />
			</a>
			<% end %>
			

		</div>
	</div>
    <script type="text/javascript">
    $(document).ready(function() {
        $('#slideshow0').nivoSlider({
            effect: 'random',
            animSpeed: 500 ,
            pauseTime:5000,
            slices:20,
            captionOpacity:1,
            controlNavThumbs:false,
            controlNavThumbsFromRel:false,
            controlNavThumbsSearch: '.jpg',
            controlNavThumbsReplace: '_thumb.jpg',
            prevText: 'Prev',
            nextText: 'Next'
        });
    });

    </script> 

    <% end %>

    
    <div class="wrapper">
        <div class="box new-products">
            <div class="box-content">
                <div class="box-shining">
                    <div class="box-heading">Выгодные предложения</div>
                    
                    <div class="box-product">
                        <ul>
                            <% if @products.length == 0 %>
                                Товары в каталоге отсутствуют.
                            <% end %>
                            <% @products.each do |product| %>
                            <li>
                                <div class="padd-both">
                                    <div class="image2">
                                        <%= link_to product_path(product.uri) do %>
                                            <%= image_tag product.preview(:medium), :alt => "Купить #{product.name}, доставка бесплатно"  %>
                                        <% end %>
                                    </div>
                                    <div class="price"> <%= product.final_price %>р </div>
                                    <div class="name maxheight">
                                        <%= link_to product.name, product %>
                                    </div>
                                    <div class="cart"> 
                                        <%= link_to(product, :class => "button addToCart") do %>
                                            <span>Детально</span>
                                        <% end %>
										<a href="#" class="button details js-addToCart" data-product="<%= product.id %>" data-fastadd="<%= product.fast_to_cart %>"><span>В корзину</span></a>
                                    </div>
                                </div>
                            </li>
                            <% end %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="b-about">
	<h2>Где купить мужскую одежду и нижнее белье высокого качества сегодня?</h2>
    <p>Наш <strong>интернет магазин мужской одежды</strong> предлагает широкий ассортимент товаров на любой вкус для молодого, спортивного, энергичного и амбициозного современного мужчины, который умеет ценить хорошие качественные вещи и уделяет внимание своему имиджу. У нас представлены такие модели одежды, как <%= Section.all.map{|s| "мужские #{s.name.mb_chars.downcase.to_s}"}.join(", ").html_safe %> и другие самого высокого качества. Наши модели одежды не встретишь в обычном магазине или на рынке. Это тщательно отобранный и эксклюзивный товар для самых требовательных клиентов. К вашему вниманию представлены ведущие мировые бренды высококачественной <strong>стильной мужской одежды</strong>, которая не может не понравиться с первого взгляда.</p>

	<h2>Заказать модную одежду от лучших брендов с бесплатной доставкой на следующий день - это реально!</h2>
    <p>Вы давно искали модную мужскую одежду, но не знали где купить? Вы считали, что такая одежда стоит очень дорого? <strong>Качественная мужская одежда</strong> от известных фирм-производителей Lacoste, Dolce Gabbana, Armani, Ralph Lauren, Calvin Klein по самым доступным ценам в нашем интернет магазине в любое время специально для вас. В этой одежде вы будете выглядеть стильно, модно и наконец привлекательно для противоположного пола. К тому же наш интернет магазин ничем не уступает классическому бутику, у нас вы можете заказать бесплатную доставку и бесплатную примерку понравившихся вам вещей и только потом решить будете ли вы ее покупать.</p>
    <p>Молодежная одежда должна быть удобной, красивой, модной и вызывать интерес у окружающих. Именно такую продукцию мы предлагаем своим клиентам. У нас в продаже всегда имеется одежда со скидкой, что не может не радовать. Мы постоянно обновляем наши коллекции и проводим регулярную сезонную распродажу мужской одежды.
    <p>Вам необходимо купить мужскую футболку для себя или в подарок молодому, спортивному и стильному человеку? Вы всегда найдете у нас то что ищете. К вашему вниманию не только большой ассортимент продукции, но и все размеры и расцветки моделей. При необходимости вы можете обменять любую вещь на нужный размер или цвет.</p>

	<h2>Не нужно искать качественную одежду в магазинах, она сама приедет к Вам домой!</h2>
    <p>Вы цените свое время и деньги? Зачем бегать по обычным магазинам в поисках необходимой брендовой одежды? В нашем интернет-магазине можно в любое время просмотреть модели, имеющиеся в продаже, подобрать цвет и размер, сделать заказ и наконец получить понравившуюся и необходимую вещь не выходя из дома и не отвлекаясь от своих буднишних забот и проблем.</p>
</div>
    
</div>