<noindex>
					<div class="box  bestsellers">
						<div class="box-content">
							<div class="box-content-image">
								<div class="box-heading">Хиты продаж</div>
								<div class="box-product-2">
								    
									<ul>
									<% if @bestsellers %>
									
										<% @bestsellers.each do |bs| %>
										<li>
											<div class="name maxheight-best"><%= link_to bs.name, product_path(bs.uri) %></div>
											<div class="image">
												<%= link_to product_path(bs.uri) do %>
													<%= image_tag bs.preview(:small), :width => "50", :alt => "Купить #{bs.name}, доставка бесплатно" %>
												<% end %>
											</div>
											<div class="extra-wrap">
												
												<div class="price"> <span class="price-new"><%= bs.final_price %>р</span> </div>

												<div class="section"><%= bs.section.name %></div>
											</div>
										</li>
										<% end %>
										
                                    <% else %>
                                            <li>Данных недостаточно</li>
                                    <% end %>
									</ul>
									    
								</div>
							</div>
						</div>
					</div>
</noindex>