<% if @products.empty? %>

    Товаров нет.
    
<% else %>

    <% @products.each do |product| %>
    
    <div class="b-section-products__item js-product">
		<% if product.discount > 0 %>
		<div class="discount"><%= "-#{product.discount}%" %></div>
		<% end %>
        <div class="image">
            <a href="<%= product_path(product.uri) %>">
                <img class="js-productImage" src="<%= product.preview(:catalog) %>" alt="" />
            </a>
            
            <a href="#" class="zoom-top js-productZoom" data-gallery="gallery-<%= product.id %>"></a>
            
            <div id="gallery-<%= product.id %>">
            <% product.pictures.each do |img| %>
                <a href="<%= img.image.url(:zoom) %>" title="<%= product.name %>" rel="item-<%= product.id %>" class="js-fancybox"></a>
            <% end %>
            </div>
        </div>
        
        <div class="actions">
            <div class="price"> 
                <span class="price-new"><%= product.final_price %>р</span> <span class="price-old"><%= "#{product.price}р" if product.discount > 0 %></span>
            </div>
            <div class="actions-buttons">
                <div class="cart">
                    <a href="#" class="button js-addToCart" data-product="<%= product.id %>" data-fastadd="<%= product.fast_to_cart %>" rel=""><span>В корзину</span></a>
                </div>
                <div class="wishlist"><a class="tip js-AddToFavorite" rel="<%= product.id %>">В избранное</a><span class="tooltip">В избранное</span></div>
                <!--div class="compare"><a class="tip2"  onclick="addToCompare('44');">Сравнить</a><span class="tooltip2">Сравнить</span></div-->
            </div>
        </div>
        
        <div class="name">
            <a href="<%= product_path(product.uri) %>"><%= product.name %></a>
        </div>
        
        <div class="description">
            <%= product.description %>
        </div>
    </div>
    <% end %>
    
    <%= will_paginate @products %>
    
<% end %>
