<%= render "shared/breadcrumbs" %>

<h1><%= @section.name %></h1>

<div class="product-filter">
    <div class="sort"><b>Сортировать:</b>
        <select id="sags" class="js-limitFilter">
            <%= options_for_select([['', section_path(params.merge(:sort_by => ''))], ['По цене', section_path(params.merge(:sort_by => 'price'))], ['По имени', section_path(params.merge(:sort_by => 'name'))]], section_path(params)) %>
        </select>
    </div>
    <div class="limit"><b>Показывать:</b>
        <select id="sags" class="js-limitFilter">
            <%= options_for_select([['10', section_path(params.merge(:limit => 10))], ['20', section_path(params.merge(:limit => 20))], ['Все', section_path(params.merge(:limit => 'all'))]], section_path(params)) %>
        </select>
    </div>
    <!--div class="product-compare"><a href="#" id="compare-total">Сравнить товары (0)</a></div-->
    <div class="display js-productsViewModeSelect">
        <b>Вид:</b>
        
        
        <div id="grid_a" class="item active" data-mode="grid"></div>
        <div id="list_a" class="item" data-mode="list"></div> 
    </div>
</div>
<script type="text/javascript">
    $(function()
    {
        $('.js-limitFilter').change(function()
        {
            location = this.value;
        });
        
        //var SectionProducts = new SectionProductsCollection;
        //SectionProducts.reset(<%= @section.products.to_json(:methods => [:preview_catalog]).html_safe %>);
    });
</script>

<%= render "shared/top_promo" %>

<div class="b-section-products js-productsList grid">
    
    <%= render "shared/products_list" %>
    
</div>
<%
=begin
<div class="pagination">
    <div class="results">Showing 1 to 12 of 12 (1 Pages)</div>
</div>
=end
%>