<div id="payment-address" class="js-checkoutStepCont">
	<div class="checkout-heading">
		<div class="marker-chekout"><span>Шаг 1: Ваши данные и способ доставки</span></div>
		<a class="#">Изменить »</a>
	</div>
	<div class="checkout-content">

		<%= simple_form_for(@order, :as => "order") do |f| %>
		<div class="left">
			<%= f.fields_for :address do |address_fields| %>

			<div class="b-input margin_b10">
				<%= address_fields.input :fio, :label => "Имя" %>
			</div>

			<div class="b-input margin_b10">
				<%= address_fields.input :phone, :label => "Телефон" %>
			</div>
			
			<div class="b-input ">
				<%= address_fields.input :email, :label => "Email" %>
			</div>
			
		</div>
		<div class="right">
			<!--div class="description">
				После заполнения формы и отправки заказа с вами в течении нескольких часов по телефону свяжется сотрудник магазина для подтверждения заказа и уточнения адреса и даты доставки.
			</div-->
			<div class="b-input margin_b15">
				<label>Доставка:</label>
			</div>
			<table class="radio margin_b30">
				<% Delivery.all.each_with_index do |d, i| %>

				<tr class="highlight">
					<td width="23">
						<% if @order.delivery_id == d.id || (i == 0 && !@order.delivery_id ) %>
						<%= f.radio_button("delivery_id", d.id, {:checked => true}) %>
						<% else %>
						<%= f.radio_button("delivery_id", d.id,) %>
						<% end %>
					</td>
					<td>
						<p class="margin_b5">
							<label for="order_delivery_id_<%= d.id %>"><b><%= d.name %></b></label>
						</p>
					</td>
					<td width="40"></td>
					<td style="text-align: right;"><label for="flat.flat"><%= d.price_to_s %></label></td>
				</tr>
				<% end %>
			</table>
			<%= f.button :submit, "Продолжить", :class => "b-btn b-btn_wide button_pink" %>
		</div>
		<div class="clearer"></div>
		<% end %>
		
		<% end %>
	</div>

</div>