<div id="cart" class="">
    <div class="heading"> <a><span class="sc-button"></span> <span class="fr">
        <h4>Корзина</h4>
        <span id="cart-total"><%= cart['count'] %> товар(ов) - <%= cart['summ'] %>р</span></span></a> </div>
        <div class="content">
            <% if (cart['count'] > 0) { %>
            
            <div class="mini-cart-info">
                <table class="cart">
                    <tbody>
                        <% for (i in cart['items']) { %>
                        	<% for (j in cart['items'][i]['ins']) { %>
                            <tr>
                                <td class="image">
                                    <a href="<%= Routes.product_path(cart['items'][i]['attrs'].uri) %>">
                                        <img src="<%= cart['items'][i]['ins'][j].img %>" width="70" alt="" />
                                    </a>
                                </td>
                                <td class="name">
                                    <a href="<%= Routes.product_path(cart['items'][i]['attrs'].uri) %>"><%= cart['items'][i]['ins'][j].name %></a>
                                    <span class="quantity">x&nbsp;<%= cart['items'][i]['ins'][j].count %></span>

									<% if (cart['items'][i]['attrs']['promo']) { %>
										<span class="total"><%= price(cart['items'][i]) %>р</span>
										<strike><%= cart['items'][i]['attrs'].price %>р</strike>
										<p><span class="red">Акция</span></p>
									<% } else { %>
										<span class="total"><%= price(cart['items'][i]) %>р</span>
									<% } %>
									
									
                                    <% if (cart['items'][i]['ins'][j].size != "all") { %>
                                    <div class="">(<%= cart['items'][i]['ins'][j].size %>)</div>
                                    <% } %>

									<div class=""><%= cart['promo'] %></div>
                                </td>
                                    <!--td class="quantity">x&nbsp;</td--> 
                                    <!--td class="total"></td-->
                                    <td class="remove"><span><img class="js-removeFromCart" rel="<%= cart['items'][i]['ins'][j].id %>" title="Удалить" alt="Удалить" src="/assets/close.png"></span>
                                </td>
                            </tr>
							<% } %>
                        <% } %>
                        
                    </tbody>
                </table>
            </div>
            <div>
                <table class="total">
                    <tbody>
                        <tr>
                            <td align="right" class="total-right"><b>Итого:</b></td>
                            <td align="left" class="total-left"><span class="t-price"><%= cart['summ'] %>р</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="checkout">
                <a class="button" href="<%= Routes.cart_index_path() %>">Детально</a>
                <a class="button" href="<%= Routes.cart_checkout_path() %>">Заказать</a>
            
            <% } else { %>
                <div class="empty">Ваша корзина пуста</div>
            <% } %>
            
        </div>
    </div>
</div>