<ul>
    <% if (products.length == 0) { %>
        
        Товары в каталоге отсутствуют.
        
    <% } else { %>
        <% products.each(function(product) { %>
        <li class="js-product">
            <div class="padd-both">
				<% if (product.get('discount') > 0) { %>
				<div class="discount">-<%= product.get('discount') %>%</div>
				<% } %>
                <div class="image2">
                    <a href="<%= Routes.product_path(product.get('uri')) %>">
                        <img class="js-productImage" src="<%= product.get('preview_medium') %>" alt="" />
                    </a>
                </div>
                <div class="price"> <%= product.get('final_price') %>р </div>
                <div class="name maxheight">
                    <a href="<%= Routes.product_path(product.get('uri')) %>"><%= product.get('name') %></a>
                    
                </div>
                <div class="cart"> 
                    <a href="<%= Routes.product_path(product.get('uri')) %>" class="button addToCart">
                        <span>Детально</span>
                    </a>
					<a href="#" class="button details js-addToCart" data-product="<%= product.get('id') %>" data-fastadd="<%= product.get('fast_to_cart') %>"><span>В корзину</span></a>
                </div>
            </div>
        </li>
        <% }); %>
    <% } %>
</ul>