<%= render "shared/breadcrumbs" %>

<div class="product-info">
    <div class="wrapper indent-bot">
        <div class="fleft left spacing">
            <div class="zoom-top js-productZoom" data-gallery="gallery-<%= @product.id %>"></div>

            <div class="image"> 
                <a href="<%= @product.preview_zoom %>" class="js-jqzoom" title="<%= @product.name %>" rel="gal1">  
                    <img src="<%= @product.preview_detail %>" title="IMAGE TITLE">  
                </a>
            </div>
            <div id="gallery-<%= @product.id %>" class="image-additional">

                <% @product.pictures.each_with_index do |img, i| %>
                    <a href="<%= img.image.url(:detail) %>" title="<%= @product.name %>" rel="item-<%= @product.id %>" class="js-fancybox"></a>
                    <a href="javascript:void(0);" class="<% if i == 0 %>zoomThumbActive<% end %>" rel="{gallery: 'gal1', smallimage: '<%= img.image.url(:detail) %>',largeimage: '<%= img.image.url(:zoom) %>'}">
                        <%= image_tag img.image.url(:small) %>
                    </a>
                <% end %>
            </div>

        </div>
        <div class="extra-wrap">
            <h1><%= @product.name %></h1>
            <div class="description">

                <span>Брэнд:</span> <a href="#"><%= @product.brand.name %></a><br />
                <span>Производитель:</span> <a href="#"><%= @product.country.name %></a><br />
                <span>Артикул:</span> <%= @product.brand.id %><br />

                <div class="padd-avalib"> <div class="extra-wrap"> <span class="prod-stock-2">Наличие:</span> <div class="prod-stock">На складе</div></div></div>

                <div class="price">
                    <span class="text-price">Цена:</span>
                    <span class="price-new"><%= @product.price %>р</span><!--span class="price-old">$13.75</span--> 
                    <!--span class="reward"><small>Price in reward points: 400</small></span><br /-->
                </div>
                <div class="cart">

                    <div class="prod-row">
                        <div class="cart-top">
                            <div class="cart-top-padd">
                                <label>Кол-во:</label>
                                <input type="text" name="quantity" size="2" value="1" />
                                <input type="hidden" name="product_id" size="2" value="47" />
                            </div>
                            <a id="button-cart" class="button-prod" >В корзину</a>

                        </div>
                    </div>
                    <div class="extra-button">
                        <div class="wishlist"><a class="tip js-AddToFavorite" rel="<%= @product.id %>">В избранное</a><span class="tooltip">В избранное</span></div>
                        <div class="compare"><a class="tip2"  onclick="addToCompare('44');">Сравнить</a><span class="tooltip2">Сравнить</span></div>
                    </div>
                </div>
            </div>
            <div class="review">
                <div><img src="catalog/view/theme/theme014/image/stars-0.png" alt="0 reviews" />&nbsp;&nbsp;<div class="btn-rew"><a onclick="$('a[href=\'#tab-review\']').trigger('click');">0 reviews</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a onclick="$('a[href=\'#tab-review\']').trigger('click');">Write a review</a></div></div>

                <div class="share"><!-- AddThis Button BEGIN -->
                    <!-- AddThis Button BEGIN -->
                    <div class="addthis_toolbox addthis_default_style ">
                        <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
                        <a class="addthis_button_tweet"></a>
                        <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
                        <a class="addthis_counter addthis_pill_style"></a>
                    </div>
                    <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4f419f410efe76d3"></script>

                    <!-- AddThis Button END -->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wrapper mb-1">
    <div id="tabs" class="htabs"><a href="#tab-description">Description</a>
        <a href="#tab-attribute">Specification</a>

        <a href="#tab-review">Reviews (0)</a>
    </div>
</div>
<div class="wrapper">
    <div id="tab-description" class="tab-content">
        <div class="std">
            <%= @product.description %>
        </div>

            </div>
            <div id="tab-attribute" class="tab-content">
                <table class="attribute">
                    <thead>
                        <tr>
                            <td colspan="2">Attribute №1</td>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>Weight</td>
                            <td>4 kg</td>
                        </tr>
                    </tbody>
                    <thead>
                        <tr>
                            <td colspan="2">Attribute №2</td>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Height</td>
                            <td>7 metr</td>
                        </tr>
                    </tbody>

                    <thead>
                        <tr>
                            <td colspan="2">Attribute №3</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Width</td>

                            <td>2 metr</td>
                        </tr>
                    </tbody>
                    <thead>
                        <tr>
                            <td colspan="2">Attribute №4</td>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>Size</td>
                            <td>4 XXL</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div id="tab-review" class="tab-content">
                <div id="review"></div>
                <h2 id="review-title">Write a review</h2>
                <b>Your Name:</b><br />
                <input type="text" name="name" value="" />
                <br />
                <br />
                <b>Your Review:</b>

                <textarea name="text" cols="40" rows="8" style="width: 98%;"></textarea>
                <span style="font-size: 11px;"><span style="color: #FF0000;">Note:</span> HTML is not translated!</span><br />
                <br />
                <b>Rating:</b> <span>Bad</span>&nbsp;
                <input type="radio" name="rating" value="1" />

                &nbsp;
                <input type="radio" name="rating" value="2" />
                &nbsp;
                <input type="radio" name="rating" value="3" />
                &nbsp;
                <input type="radio" name="rating" value="4" />
                &nbsp;
                <input type="radio" name="rating" value="5" />
                &nbsp; <span>Good</span><br />

                <br />
                <b>Enter the code in the box below:</b><br />
                <input type="text" name="captcha" value="" />
                <br />
                <img src="index.php?route=product/product/captcha" alt="" id="captcha" /><br />
                <br />
                <div class="buttons">
                    <div class="right"><a id="button-review" class="button"><span>Continue</span></a></div>

                </div>
            </div>
        </div>

    </div>
    <div  class="related related-carousel">
        <div class="box-product"> 
            <ul>

                <li class="related-info">
                    <div class="image"><a href="http://livedemo00.template-help.com/opencart_38941/index.php?route=product/product&amp;product_id=30"><img id="img_30" src="http://livedemo00.template-help.com/opencart_38941/image/cache/data/Mad Gringo Green Tee 1 copy-120x144.png" alt="Eiusmod tempor" /></a></div>

                    <div class="name"><a href="http://livedemo00.template-help.com/opencart_38941/index.php?route=product/product&amp;product_id=30">Eiusmod tempor</a></div>
                    <div class="price">
                        $13.75                            </div>

                        <div class="cart"><a onclick="addToCart('30');" class="button"><span>Add to Cart</span></a></div>

                    </li>
                    <li class="related-info">
                        <div class="image"><a href="http://livedemo00.template-help.com/opencart_38941/index.php?route=product/product&amp;product_id=31"><img id="img_31" src="http://livedemo00.template-help.com/opencart_38941/image/cache/data/Mad Gringo Yellow-Blue Tee 1 copy-120x144.png" alt="Incididunt ut labore et dol" /></a></div>

                        <div class="name"><a href="http://livedemo00.template-help.com/opencart_38941/index.php?route=product/product&amp;product_id=31">Incididunt ut labore et dol</a></div>
                        <div class="price">
                            $96.00                            </div>

                            <div class="cart"><a onclick="addToCart('31');" class="button"><span>Add to Cart</span></a></div>

                        </li>
                        <li class="related-info">
                            <div class="image"><a href="http://livedemo00.template-help.com/opencart_38941/index.php?route=product/product&amp;product_id=36"><img id="img_36" src="http://livedemo00.template-help.com/opencart_38941/image/cache/data/Live Nation The Who Charcoal T-Shirt 1 copy-120x144.png" alt="Dolore esse cillum fugiat " /></a></div>

                            <div class="name"><a href="http://livedemo00.template-help.com/opencart_38941/index.php?route=product/product&amp;product_id=36">Dolore esse cillum fugiat </a></div>
                            <div class="price">
                                $13.75                            </div>

                                <div class="cart"><a onclick="addToCart('36');" class="button"><span>Add to Cart</span></a></div>

                            </li>
                            <li class="related-info">
                                <div class="image"><a href="http://livedemo00.template-help.com/opencart_38941/index.php?route=product/product&amp;product_id=43"><img id="img_43" src="http://livedemo00.template-help.com/opencart_38941/image/cache/data/Pronto Blue Black and Gold Graphic Tee 1 copy-120x144.png" alt="Lorem ipsum dolor sit amet conse ctetur adipisicing" /></a></div>

                                <div class="name"><a href="http://livedemo00.template-help.com/opencart_38941/index.php?route=product/product&amp;product_id=43">Lorem ipsum dolor sit amet conse ctetur adipisicing</a></div>
                                <div class="price">
                                    <span class="price-new">$54.88</span>
                                </div>

                                <div class="cart"><a onclick="addToCart('43');" class="button"><span>Add to Cart</span></a></div>

                            </li>
                            <li class="related-info">

                                <div class="image"><a href="http://livedemo00.template-help.com/opencart_38941/index.php?route=product/product&amp;product_id=55"><img id="img_55" src="http://livedemo00.template-help.com/opencart_38941/image/cache/data/Penn State College T-Shirt 1 copy-120x144.png" alt="Lorem ipsum dolor sit amet" /></a></div>
                                <div class="name"><a href="http://livedemo00.template-help.com/opencart_38941/index.php?route=product/product&amp;product_id=55">Lorem ipsum dolor sit amet</a></div>
                                <div class="price">
                                    $28.51                            </div>

                                    <div class="cart"><a onclick="addToCart('55');" class="button"><span>Add to Cart</span></a></div>

                                </li>
                            </ul>

                        </div>
                    </div>
                </div>