<%= render "shared/breadcrumbs" %>

<div class="product-info">
    <div class="wrapper indent-bot">
        <div class="fleft left spacing">
            <div class="zoom-top js-productZoom" data-gallery="gallery-<%= @product.id %>"></div>
            <div class="image"> 
                <a href="<%= @product.preview(:zoom) %>" class="js-jqzoom" title="<%= @product.name %>" rel="gal1">  
                    <img src="<%= @product.preview(:detail) %>" title="IMAGE TITLE">  
                </a>
            </div>
            <div id="gallery-<%= @product.id %>" class="image-additional">

                <% @product.pictures.each_with_index do |img, i| %>
                    <a href="<%= img.image.url(:detail) %>" title="<%= @product.name %>" rel="item-<%= @product.id %>" class="js-fancybox"></a>
                    <a href="javascript:void(0);" class="<% if i == 0 %>zoomThumbActive<% end %>" rel="{gallery: 'gal1', smallimage: '<%= img.image.url(:detail) %>',largeimage: '<%= img.image.url(:zoom) %>'}">
                        <%= image_tag img.image.url(:small) %>
                    </a>
                <% end %>
            </div>

        </div>
        <div class="extra-wrap">
            <h1><%= @product.name %></h1>
            <div class="description">

                <span>Брэнд:</span> <a href="#"><%= @product.brand.name %></a><br />
                <span>Производитель:</span> <%= @product.country.name %><br />
                <span>Артикул:</span> <%= @product.brand.id %><br />

                <div class="padd-avalib"> <div class="extra-wrap"> <span class="prod-stock-2">Наличие:</span> <div class="prod-stock">На складе</div></div></div>
                
                

                <div class="price">
                    <span class="text-price">Цена:</span>
                    <span class="price-new"><%= @product.price %>р</span><!--span class="price-old">$13.75</span--> 
                    <!--span class="reward"><small>Price in reward points: 400</small></span><br /-->
                </div>
                <br />
                <%= form_tag(:controller => "cart", :action => "add_item", :method => "post") do %>
                <div class="b-sizes">
                    <span>Выберите размер:</span>
                    <% if @product.sizes? %>
                        <% @product.product_instances.each_with_index do |size, i| %>
                            <%= label_tag "instance_#{size.id}", :class => "b-sizes__item" do %>
                                <%= radio_button_tag :instance, size.id, i==0 ? true : false %> <%= size.size %>
                            <% end %>

                        <% end %>
                    <% else %>
                        размер единый
                        <%= radio_button_tag :instance, @product.product_instances.first.id, true, :class => "hidden"  %>
                    <% end %>
                </div>
                
                <div class="cart">

                    <div class="prod-row">
                        <div class="cart-top">
                            <div class="cart-top-padd">
                                <label>Кол-во:</label>
                                <%= text_field_tag :count, 1, :size => 2 %>
                            </div>
                            
                            <a id="button-cart" class="button-prod js-submit" rel="<%= @product.id %>">В корзину</a>

                        </div>
                    </div>
                    <div class="extra-button">
                        <div class="wishlist"><a class="tip js-AddToFavorite" rel="<%= @product.id %>" title="В избранное">В избранное</a></div>
                        
                    </div>
                </div>
                <% end %>
            </div>
<%
=begin
            <div class="review">
                <div><img src="/assets/stars-0.png" alt="0 reviews" />&nbsp;&nbsp;<div class="btn-rew"></div></div>

                <div class="share">
                </div>
            </div>
=end 
%>
        </div>
    </div>

    <div class="wrapper mb-1">
        <div id="tabs" class="htabs">
            <a href="#tab-description">Описание</a>
        </div>
    </div>
    <div class="wrapper">
        <div id="tab-description" class="tab-content">
            <div class="std">
                <%= @product.description %>
            </div>

        </div>
    </div>
</div>   