<%= render "shared/breadcrumbs" %>

<%= render "shared/top_promo" %>



<div class="product-info">
    <div class="wrapper indent-bot">
        <div class="fleft left spacing">
            <div class="zoom-top js-productZoom" data-gallery="gallery-<%= @product.id %>"></div>
            <div class="image"> 
                <a href="<%= @product.preview(:zoom) %>" class="js-jqzoom" title="<%= @product.name %>" rel="gal1">  
                    <img src="<%= @product.preview(:detail) %>"  alt="<%= "Купить #{@product.name}, доставка бесплатно" %>">  
                </a>
            </div>
            <div id="gallery-<%= @product.id %>" class="image-additional">

                <% @product.pictures.each_with_index do |img, i| %>
                    <a href="<%= img.image.url(:zoom) %>" title="<%= @product.name %>" rel="item-<%= @product.id %>" class="js-fancybox"></a>
                    <a href="javascript:void(0);" class="<% if i == 0 %>zoomThumbActive<% end %>" rel="{gallery: 'gal1', smallimage: '<%= img.image.url(:detail) %>',largeimage: '<%= img.image.url(:zoom) %>'}">
                        <%= image_tag img.image.url(:small), :alt => "Купить #{@product.name}, доставка бесплатно" %>
                    </a>
                <% end %>
            </div>

        </div>
        <div class="product-info-right">
            <h1><%= @product.name %></h1>

			<div class="b-market-rating">
				<a target="_blank" href="http://clck.yandex.ru/redir/dtype=stred/pid=47/cid=2508/*http://market.yandex.ru/shop/136639/reviews"><img src="http://clck.yandex.ru/redir/dtype=stred/pid=47/cid=2506/*http://grade.market.yandex.ru/?id=136639&action=image&size=1" border="0" width="120" height="110" alt="Читайте отзывы покупателей и оценивайте качество магазина на Яндекс.Маркете" /></a>
			</div>
			
            <div class="description">
                <span>Артикул:</span> <%= @product.id %><br />
                <span>Брэнд:</span> <%= link_to @product.brand.name, @product.brand  %></a><br />
				<% if @product.color? %>
				<span>Цвет:</span> <%= @product.color %><br />
				<% end %>
				<% if @product.matter? %>
				<span>Материал:</span> <%= @product.matter %><br />
				<% end %>

                <div class="padd-avalib"> 
					<div class="extra-wrap"> 
						<span class="prod-stock-2">Наличие:</span> 
						<% if @product.in_stock? %>
						<div class="prod-stock">На складе</div>
						<% else %>
						<div class="prod-stock-2 no_stock">нет в наличии</div> 
						<% end %>
					</div>
				</div>
                
                

                <div class="price">
                    <span class="text-price">Цена:</span>
                    <span class="price-new"><%= @product.final_price %>р</span><span class="price-old"><%= "#{@product.price.to_i}р" if @product.discount > 0 %></span>
                    
                </div>
                <div class="delivery">Доставка по Москве:&nbsp; <%= Delivery.courier.first.price_to_s %></div>
                <br />

				<% if @product.in_stock? %>
				
                <%= form_tag(:controller => "cart", :action => "add_item", :method => "post") do %>

                <div class="b-sizes">
					<% if @product.section.id != 6 %>
					<div class="b-sizes__define dotted">
						<span>узнать свой размер</span>
						
						<div class="b-sizes__table">
							<p class="t">Размерная сетка мужской одежды:</p>
							
							<img class="img" src="/assets/sizes/mens.png" alt="" />
						</div>
					</div>
					<% end %>
                    <span>Выберите размер:</span>
                    <% if @product.sizes? %>
                        <% @product.product_instances.in_stock.each_with_index do |size, i| %>
                            <%= label_tag "instance_#{size.id}", :class => "b-sizes__item" do %>
                                <%= radio_button_tag :instance, size.id, i==0 ? true : false %> <%= size.size %>
                            <% end %>

                        <% end %>
                    <% else %>
                        размер единый
                        <%= radio_button_tag :instance, @product.product_instances.first.id, true, :class => "hidden"  %>
                    <% end %>
                </div>
                
                <div class="cart">

                    <div class="prod-row">
                        <div class="cart-top">
                            <div class="cart-top-padd">
                                <label>Кол-во:</label>
                                <%= text_field_tag :count, 1, :size => 2 %>
                            </div>
                            
                            <a id="button-cart" class="button-prod js-submit" rel="<%= @product.id %>">В корзину</a>

                        </div>
                    </div>
                    <div class="extra-button">
                        <div class="wishlist"><a class="tip js-AddToFavorite" rel="<%= @product.id %>" title="В избранное">В избранное</a></div>
                        
                    </div>
                </div>
                <% end %>
				<% end %>
				
				<a name="garant"></a>
				<div class="b-vk-like">
					<div id="vk_like_<%= @product.id %>"></div>
					<script type="text/javascript">
					VK.Widgets.Like("vk_like_<%= @product.id %>", {type: "button", pageTitle: '<%= @product.name %>', pageDescription: '<%= @product.description.delete("\n").delete("\r") %>', pageImage: "<%= "#{request.protocol}#{request.host_with_port}#{@product.preview(:small)}" %>"}, <%= @product.id %>);
					</script>
				</div>
				
            </div>
			
			<ul class="b-features">
			    <li>вы можете примерить одежду в день доставки, поменять размер или отказаться от покупки, если вещь вам не подошла или не устроило качество.</li>
			    <li>вы гарантированно получаете вещь как на фото.</li>
				<li>доставка на следующий день или любой другой.</li>
				<li>товар можно вернуть в течение 14 дней после получения.</li>
			</ul>
            
            <div class="wrapper mb-1">
                <div id="tabs" class="htabs">
                    <div class="tab selected">Описание</div>
                </div>
            </div>
            <div class="wrapper">
                <div id="tab-description" class="tab-content">
                    <div class="std">
                        <%= @product.description %>
                    </div>

                </div>
            </div>
			
        </div>
    </div>
	
    <%= render :partial => 'similar_products' %>

	
    <div id="vk_comments_<%= @product.id %>"></div>
	<script type="text/javascript">
	VK.Widgets.Comments("vk_comments_<%= @product.id %>", {limit: 15, width: "718", attach: false}, <%= @product.id %>);
	</script>
	
</div>   