<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><%= @title ? @title : "Купить мужскую одежду и нижнее белье с бесплатной доставкой." %></title>
    <link href="/assets/favicon.ico" rel="icon" />
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>

    <%= csrf_meta_tags %>
	<meta name='yandex-verification' content='78b63f70f3039d80' />
    <meta name="keywords" content="купить мужскую одежду, мужские футболки, поло, мужские трусы, мужские майки, интернет-магазин нижнего белья, интернет-магазин одежды, мужская одежда с бесплатной доставкой" />
    <meta name="description" content="<%= @title ? @title : "Мужская одежда и нижнее белье высокого качества от лучших мировых брендов в интернет-магазине Young Lovers." %>" />

    <!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/assets/ie.css" /><![endif]-->

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css' />
    <script type="text/javascript" src="//vk.com/js/api/openapi.js?95"></script>

	<script type="text/javascript">
      VK.init({apiId: 3357479, onlyWidgets: true});
    </script>
	

    <script type="text/javascript">
    App = {};
    
    App.User = {
        id           : <%= user_signed_in? ? current_user.id : "null" %>,
        orderFinished: <%= @order_finished ? "true" : "false" %>
    }
    </script>

</head>
<body class="">
    <% if @index %>
    <h1 class="main_h1">Купить мужскую одежду с бесплатной доставкой и примеркой от лучших мировых брендов.</h1>
    <% end %>
    <div class="main-shining">
        <div class="top-bg">
            <div class="top-container">
                <ul class="links">
                    
                    
                    <% if user_signed_in? %>
                    <li>
                        <%= link_to (favorites_path) do %>
                        Избранное <span>
                            <% if user_signed_in? %>
                            (<span class="js-favoritesCounter"><%= current_user.favorites.length %></span>)
                            <% else %>
                            (0)
                            <% end %>
                        </span>
                        <% end %>
                    </li>
                    <% else %>
                    <li class="first"><a href="/">Главная</a></li>
                    <% end %>
                    <li><%= link_to 'Мой профиль', edit_user_registration_path %></li>
                    <li><%= link_to 'Заказать', order_checkout_path %></li>

                    <% if user_signed_in? %>
                    <li class="last"><%= link_to "Выйти", destroy_user_session_path, method: :delete %> </li>
                    <% else %>
                    <li class="last"><%= link_to "Войти", new_user_session_path %> </li>
                    <% end %>

                </ul>
                
                <ul class="soc-links">
                    <% if SiteConfiguration.phone != "" %>
					<li class="hint">
						<span>консультация</span>, <br />
						заказ по телефону
					</li>
                    <li class="first">
                        <img class="i-phone" src="/assets/telephone.png" /><span class="va-middle"><%= SiteConfiguration.phone.html_safe %></span>
                    </li>
					<% end %>
					<li class="vk"><a target="_blank" href="http://vk.com/younglovers">группа вконтакте</a></li>
					<!-- <li class="market">
						<a href="http://clck.yandex.ru/redir/dtype=stred/pid=47/cid=2508/*http://grade.market.yandex.ru/?id=136639&action=link" target="_blank"><img src="http://clck.yandex.ru/redir/dtype=stred/pid=47/cid=2505/*http://grade.market.yandex.ru/?id=136639&action=image&size=0" border="0" width="88" height="31" alt="Читайте отзывы покупателей и оценивайте качество магазина на Яндекс.Маркете" /></a>
					</li> -->
                </ul>
                

            </div>
        </div>
        <div class="main-container">
            <p id="back-top"> <a href="#top"><span></span></a> </p>
            <div class="row-1">
                <div id="header">
                    <script type="text/javascript">
                    $(function()
                    {
                        var cart = <%= @cart.to_json.html_safe %>
                        $('.js-cart').html( JST['templates/cart']({cart: cart}) );
                    });

                    </script>
                    <div class="header-top1">
                        <div class="cart-position">
                            <div class="cart-inner js-cart">

                            </div>
                            <a href="/delivery" class="b-plus">
                                <div class="b-plus__h">
                                    <i class="b-icon i-try b-plus__icon"></i>
                                    <span class="b-plus__t">Примерка</span>
                                    <span class="b-plus__text">Бесплатно</span>
                                </div>
                                <div class="b-plus__popup">
                                    <div class="b-plus__popup__l">
                                        Перед тем, как принять окончательное решение о покупке Вы можете бесплатно примерить одежду в день доставки.
                                    </div>
                                </div>
                            </a>
                            <a href="/delivery" class="b-plus b-plus_delivery">
                                <div class="b-plus__h">
                                    <i class="b-icon i-delivery b-plus__icon"></i>
                                    <span class="b-plus__t">Доставка</span>
                                    <span class="b-plus__text">Бесплатно</span>
                                </div>
                                <div class="b-plus__popup">
                                    <div class="b-plus__popup__l">
                                        Бесплатная доставка курьером по Москве заказов от <b>1500р</b>.
                                    </div>
                                </div>
                            </a>
                            <div class="clear"></div>
                        </div>
                        <a href="/" id="logo">Модная мужская одежда с доставкой в интернет магазине YoungLovers.ru</a>
                    </div>

                </div>

                <div id="container">

                    <div id="notification">

                    </div>
                    <% if notice %>
                    <p class="attention"><%= notice.html_safe %></p>
                    <% end %>
                    <% if alert %>
                    <p class="attention"><%= alert %></p>
                    <% end %>

                    <div id="column-left">
                        <% if @profile %>
                            <%= render "shared/profile_menu" %>
                        <% end %>

                        <div class="box category">
                            <div class="box-content">
                                <div class="box-content-image">
                                    <div class="box-heading">Каталог</div>
                                    <div class="box-category">
										<ul class="b-sections-menu">
											<%= menu_sections_tree(Section.top().arrange(), @active_section_id, @active_parent_id) %>
											
											<li class="b-sections-menu__item b-sections-menu__item_sub accordion <%= "active" if @brand %>">
												<span class="section">Бренды</span>
												<span class="act-cat"></span>
												<ul class="b-sections-menu">
												<% @brands_all.each do |brand| %>
													<li><%= link_to brand.name, brand, :class => "subsection #{"active" if @brand && @brand == brand}" %></li>
												<% end %>
												</ul>
											</li>
										</ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% if false %>
                        <div class="box sidebarsearch"> 
                            <!--div class="box-heading">Search</div-->
                            <div class="box-content">
                                <div id="sidebarsearch">
                                    <%= form_tag(search_path, :method => "get") do %>
                                    <%= submit_tag "", :name => nil, :class => "button-sidebarsearch" %>
                                    <span>
                                        <%= text_field_tag :q, "", :class => "search", :placeholder => "Поиск" %>
                                    </span>
                                    <% end %>

                                </div>
                            </div>
                        </div>
                        <% end %>

                        <%= render :partial => 'shared/bestsellers' %>

                    </div>

                    <%= @right %>

                    <% if @right %>
                        <%= render 'shared/right_column' %>
                    <% end %>

                    <div id="content">

                        <%= yield %>
                        
                        <%= render :partial => 'shared/seo_text' %>

                    </div>
                    <div class="clear"></div>

                    <div class="footer-wrap">
                        <div id="footer">
                            <div class="wrapper">
                                <div class="footer-logo"></div>

                                <div class="column col-1">
                                    <h3>Информация</h3>
                                    <ul>
                                        <li><a href="/about">О магазине</a></li>
                                        <li><a href="/delivery">Доставка</a></li>
                                        <li><a href="/terms">Правила пользования</a></li>
                                    </ul>
                                </div>

                                <div class="column col-4">
                                    <h3>Мой профиль</h3>
                                    <ul>
                                        <li><%= link_to "Мои данные", edit_user_registration_path %></li>
                                        <li><%= link_to "Мой адрес", users_address_path %></li>
                                        <li><%= link_to "Мои заказы", orders_path %></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <%= yield :seo_text %>
                </div>
                <% if Rails.env == 'production' %>
                    <%= render :partial => 'shared/counter' %>
                <% end %>
            </div>
        </div>
    </div>

	<!--Трэкер "Основной"--> 
	<script>document.write('<img src="http://mixmarket.biz/tr.plx?e=3779414&r='+escape(document.referrer)+'&t='+(new Date()).getTime()+'" width="1" height="1"/>');</script> 
	<!--Трэкер "Основной"-->
</body>
</html>